@page "/forgotpassword"

<div class="gradient-bg">
    <MudContainer MaxWidth="MaxWidth.Large"
                  Class="d-flex flex-column align-center justify-center"
                  Style="min-height: 100vh;">

        <MudPaper Elevation="12" Class="pa-8" Style="width:100%; max-width:450px; border-radius:20px;">
            <MudText>Esqueceu a senha</MudText>
        </MudPaper>
    </MudContainer>
</div>

@code {

}
