@page "/changepassword"
@inject IAuthService AuthService
@inject IUserService UserService
@rendermode InteractiveServer
<div class="gradient-bg">
    <MudContainer MaxWidth="MaxWidth.False"
                  Class="d-flex align-center justify-center"
                  Style="min-height:100vh;">

        <MudPaper Elevation="10"
                  Class="pa-10"
                  Style="border-radius:24px; max-width:800px; width:100%;">
            <MudText Typo="Typo.h5" Align="Align.Center">
                Esqueci minha senha
            </MudText>
            <MudGrid Class="mt-2">
                <MudItem xs="12">
                    <MudTextField @bind-Value="ChangePasswordDto.Code" Label="Código enviado no e-mail" Placeholder="000000" Variant="Variant.Filled" />
                </MudItem>

                <MudItem xs="12" Class="mt-1">
                    <MudTextField @bind-Value="ChangePasswordDto.NewPassword" Label="Nova senha" Placeholder="*******" InputType="InputType.Password" Variant="Variant.Filled" />
                </MudItem>
            </MudGrid>

            <MudGrid Justify="Justify.Center" Class="mt-2">
                <MudItem>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="UpdatePassword">Atualizar Senha</MudButton>
                </MudItem>
            </MudGrid>
        </MudPaper>
    </MudContainer>
</div>

@code {
    private long? Code { get; set; }
    private ChangePasswordDTO ChangePasswordDto { get; set; } = new();

    private async Task UpdatePassword()
    {
        if (await AuthService.VerifyOtpCodeWithEmail(ChangePasswordDto))
        {
            await AuthService.UpdatePassword(ChangePasswordDto);
            Snackbar.Add("Senha atualizada com sucesso! Faça login com sua nova senha.", Severity.Success);
            navigationManager.NavigateTo("/");
        }
        else
        {
            Snackbar.Add("Código incorreto", Severity.Error);
        }
    }
}
