@page "/forgotpassword"
@inject IAuthService AuthService
@inject IUserService UserService
@rendermode InteractiveServer
<div class="gradient-bg">

    <MudContainer MaxWidth="MaxWidth.False"
                  Class="d-flex align-center justify-center"
                  Style="min-height:100vh;">

        <MudPaper Elevation="10"
                  Class="pa-10"
                  Style="border-radius:24px; max-width:800px; width:100%;">

            <MudStack Spacing="4">
                <MudText Typo="Typo.h4" Align="Align.Center">
                    Esqueci minha senha
                </MudText>

                <MudText Typo="Typo.body2"
                         Align="Align.Center"
                         Color="Color.Secondary">
                    Informe seu e-mail para receber o código de recuperação
                </MudText>

                <MudGrid Class="mt-4">

                    <MudItem xs="12" md="8">
                        <MudTextField T="string"
                                      Label="E-mail"
                                      Variant="Variant.Filled"
                                      FullWidth="true"
                                      Adornment="Adornment.Start"
                                      AdornmentIcon="@Icons.Material.Filled.Email" @bind-Value="Email"/>
                    </MudItem>

                    <MudItem xs="12" md="4"
                             Class="d-flex align-end">

                        <MudButton Variant="Variant.Filled"
                                   Color="Color.Primary"
                                   FullWidth="true"
                                   Size="Size.Large" OnClick="SendCode">
                            @if (_isLoading)
                            {
                                <MudProgressCircular Indeterminate="true" Size="Size.Small" Color="Color.Inherit" />
                            }
                            else
                            {
                                <MudText>Enviar</MudText>
                            }
                        </MudButton>

                    </MudItem>
                </MudGrid>
            </MudStack>
        </MudPaper>
    </MudContainer>
</div>

@code{
    private string Email { get; set; }
    private bool _isLoading = false;
    private async Task SendCode()
    {
        _isLoading = true;
        if (await UserService.IsUserExistsByMail(Email))
        {
            await AuthService.SetLocalStorage("UserEmailChangePassword", Email);
            await AuthService.SendMailOtp(Email);
            Snackbar.Add("Código enviado ao e-mail solicitado", Severity.Success);
            navigationManager.NavigateTo("/changepassword");
        }
        else
        {
            Snackbar.Add("E-mail não cadastrado", Severity.Error);
        }
        _isLoading = false;

    }
}