<div class="sidebar">
    <div class="sidebar-header">
        <a class="navbar-brand" href="">Movvi.Web</a>
    </div>

    <nav class="nav flex-column">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill"></span>
                <span>Home</span>
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill"></span>
                <span>Counter</span>
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested"></span>
                <span>Weather</span>
            </NavLink>
        </div>
    </nav>
</div>