@inherits LayoutComponentBase
<MudBlazorComponent />
<div class="page">
    @if (false)
    {
        <div class="sidebar">
            <NavMenu />
        </div>

    }
    
    <main>
      @Body
    </main>
</div>
