@page "/register"
@rendermode InteractiveServer
@inject IAuthService AuthService
<div class="gradient-bg d-flex justify-center align-center" style="min-height:100vh;">
    <MudPaper Elevation="12" Class="pa-8" Style="width:100%; max-width:450px; border-radius:20px;">

        <MudText Typo="Typo.h5" Class="mb-6 text-center">
            Cadastro de Usuário
        </MudText>

        <MudForm @ref="form">

            <MudTextField T="string"
                          Label="Nome"
                          @bind-Value="user.Name"
                          Variant="Variant.Filled"
                          Required="true"
                          Placeholder="Nome"
                          StartIcon="@Icons.Material.Filled.Person"
                          Class="mb-4" />

            <MudTextField T="string"
                          Label="Email"
                          @bind-Value="user.Email"
                          Variant="Variant.Filled"
                          Required="true"
                          Placeholder="E-mail"
                          StartIcon="@Icons.Material.Filled.Email"
                          Class="mb-4" />

            <MudTextField T="string"
                          Label="Senha"
                          @bind-Value="user.Password"
                          Variant="Variant.Filled"
                          InputType="InputType.Password"
                          Required="true"
                          Placeholder="Senha"
                          StartIcon="@Icons.Material.Filled.Lock"
                          Class="mb-4" />

            <MudTextField T="string"
                          Label="Nome da Empresa"
                          @bind-Value="user.TenantName"
                          Variant="Variant.Filled"
                          InputType="InputType.Text"
                          Required="true"
                          Placeholder="Nome da empresa"
                          StartIcon="@Icons.Material.Filled.Lock"
                          Class="mb-4" />

            <MudButton Color="Color.Primary"
                       Variant="Variant.Filled"
                       Size="Size.Large"
                       FullWidth="true"
                       OnClick="Submit">
                @if (_isLoading)
                {
                    <MudProgressCircular Indeterminate="true" Size="Size.Small" Color="Color.Inherit" />
                }
                else
                {
                    <MudText>Salvar</MudText>
                }
            </MudButton>

        </MudForm>

    </MudPaper>
</div>

@code {
    private MudForm form;
    private UserDTO user = new();
    private bool _isLoading = false;

    private async Task Submit()
    {
        _isLoading = true;
        await form.Validate();

        if (form.IsValid)
        {
            await AuthService.SendMailOtp(user.Email);
            await AuthService.SetMailOtpLocalStorage(user.Email);
            navigationManager.NavigateTo("/otp");
        }

        _isLoading = false;
    }
}